# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# Database
db.sqlite3

# Media
media/

# Static
staticfiles/

# VS Code
.vscode/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini
# Database backups
backup*.json