{% extends 'base.html' %}

{% block content %}
<div style="margin-bottom:15px;">

    <a href="javascript:history.back()"
       style="
       background:#6c757d;
       color:white;
       padding:8px 15px;
       text-decoration:none;
       border-radius:5px;
       display:inline-block;
       ">
        ← Back
    </a>

</div>
<h1>Delete Sale</h1>

<p>

Restore stock for

<strong>

{{ item.medicine.name }}

</strong>

?

</p>

<p>

Quantity:

{{ item.quantity }}

</p>

<form method="POST">

    {% csrf_token %}

    <button type="submit">
        Delete Sale
    </button>

</form>

<br>

<a href="/dashboard/sale-items/">
    Cancel
</a>

{% endblock %}