{% extends 'base.html' %}

{% block content %}

<style>

.invoice-container{
    background:white;
    padding:30px;
}

.invoice-header{
    text-align:center;
}

.invoice-header h1{
    margin-bottom:5px;
}

.invoice-header p{
    margin:3px 0;
}

.invoice-info{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
    margin-bottom:20px;
}

.invoice-info td{
    padding:10px;
    vertical-align:top;
}

.invoice-table{
    width:100%;
    border-collapse:collapse;
}

.invoice-table th{
    border:1px solid black;
    padding:10px;
}

.invoice-table td{
    border:1px solid black;
    padding:10px;
}

.total-section{
    text-align:right;
    margin-top:20px;
}

.footer-section{
    display:flex;
    justify-content:space-between;
    margin-top:60px;
}

.signature{
    text-align:center;
    min-width:220px;
    border-top:1px solid black;
    padding-top:10px;
}

@media print{

    .no-print{
        display:none;
    }

    body{
        background:white;
    }

}

</style>

<div style="margin-bottom:15px;" class="no-print">


<a href="javascript:history.back()"
   class="no-print"
   style="
   background:#6c757d;
   color:white;
   padding:8px 15px;
   text-decoration:none;
   border-radius:5px;
   display:inline-block;
   ">
    ← Back
</a>


</div>



<h2 style="text-align: center;">
    Purchase Tax Invoice
</h2>
<table class="invoice-info">

    <tr>

        <td>

            <strong>
                Invoice No:
            </strong>

            {{ purchase.invoice_number }}

        </td>

        <td>

            <strong>
                Purchase Date:
            </strong>

            {{ purchase.purchase_date }}

        </td>

    </tr>

</table>

<table class="invoice-info">

    <tr>

        <td>

            <h3>
                Supplier Details
            </h3>

        </td>

        <td>

            <h3>
                Buyer Details
            </h3>

        </td>

    </tr>

    <tr>

        <td>

            <strong>Name:</strong>

            {{ purchase.supplier.name }}

        </td>

        <td>

            <strong>Shop:</strong>

            {{ shop.shop_name }}

        </td>

    </tr>

    <tr>

        <td>

            <strong>Mobile:</strong>

            {{ purchase.supplier.phone|default:"-" }}

        </td>
        <td>

            <strong>Mobile:</strong>

            {{ shop.mobile }}

        </td>

    </tr>

    <tr>

        <td>

            <strong>Email:</strong>

            {{ purchase.supplier.email|default:"-" }}

        </td>


        <td>

            <strong>Email:</strong>

            {{ shop.email }}

        </td>

    </tr>

    <tr>

        <td>

            <strong>Drug License:</strong>

            {{ purchase.supplier.drug_license_number|default:"-" }}

        </td>

        <td>

            <strong>Drug License:</strong>

            {{ shop.drug_license_number }}

        </td>

    </tr>
    <tr>

    <td>

        <strong>GST Number:</strong>

        {{ purchase.supplier.gst_number|default:"-" }}

    </td>

    <td>

        <strong>GST Number:</strong>

        {{ shop.gst_number|default:"-" }}

    </td>

</tr>
    <tr>

        <td>

            <strong>Address:</strong>

            {{ purchase.supplier.address|default:"-" }}

        </td>

        <td>

            <strong>Address:</strong>

            {{ shop.address }}

        </td>

    </tr>

</table>

<hr>

<table class="invoice-table">

    <tr>

        <th>#</th>

        <th>Medicine</th>

        <th>Quantity</th>

        <th>Purchase Price</th>

        <th>Total</th>

    </tr>

    {% for item in items %}

    <tr>

        <td>

            {{ forloop.counter }}

        </td>

        <td>

            {{ item.medicine.name }}

        </td>

        <td>

            {{ item.quantity }}

        </td>

        <td>

            ₹ {{ item.purchase_price }}

        </td>

        <td>

            ₹ {{ item.line_total }}

        </td>

    </tr>

    {% endfor %}

</table>

<div class="total-section">

    <h2>

        Grand Total:
        ₹ {{ total }}

    </h2>

</div>

<div class="footer-section">

    <div>

        Purchase Record Generated By

        <br>

        {{ request.user.username }}

    </div>

    <div class="signature">

        Authorized Signature

    </div>

</div>




<br>
<div
    class="no-print"
    style="
    text-align:center;
    margin-top:30px;
    margin-bottom:20px;
">

    <button
        onclick="window.print()"
        style="
        background:#2563eb;
        color:white;
        border:none;
        padding:12px 30px;
        border-radius:8px;
        font-size:16px;
        font-weight:600;
        cursor:pointer;
        ">
        Print Invoice
    </button>

</div>
{% endblock %}
