{% extends 'base.html' %}

{% block content %}
<style>input,
select,
textarea{
    width:100%;
    padding:10px;
    border:1px solid #ddd;
    border-radius:8px;
}
.form-container{
    max-width:900px;
    background:white;
    padding:25px;
    border-radius:12px;
}</style>
<div style="margin-bottom:15px;">

    <a href="javascript:history.back()"
       style="
       background:#6c757d;
       color:white;
       padding:8px 15px;
       text-decoration:none;
       border-radius:5px;
       display:inline-block;
       ">
        ← Back
    </a>

</div>
<h1>Add Sale</h1>

<form method="POST">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        Save Sale
    </button>

</form>

{% endblock %}